<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyNews</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block header %}
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="http://127.0.0.1:8000/static/logo.png" width="200" height="50"
                 alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.onliner.by">Onliner.by</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://unblockproxy.me/index.php?q=n6XYoqltYmGlnqqjY9udpqLDnqhimtRlb6fUp9ajqM-klg">TUT.by</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/api/news/">API</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/swagger/">API documentation</a>
                </li>
            </ul>
             {% if user.is_authenticated %}
            <a href="{% url 'news:logout' %}" type="button" class="btn btn-outline-light me-2">
                @{{ user.username }}, logout?
            </a>
            {% else %}
            <a href="{% url 'news:register' %}" type="button" class="btn btn-outline-light me-2">
                Sign up
            </a>
            <a href="{% url 'news:login' %}" type="button" class="btn btn-outline-light me-2">
                Sign in
            </a>
            {% endif %}
        </div>
    </div>
</nav>
<!-- End NavBar -->
{% endblock header %}
{% block content %}
<main class="container">
    <div class="starter-template text-center py-5 px-3">
        {% block main %}
        {% endblock main %}
        {% block footer %}
    <!-- Footer -->
        <footer class="footer">
            <nav class="navbar fixed-bottom navbar-dark bg-primary">
                <div class="container">
                    <font color="#f0ffff">© 2021 Andrei Lukin</font>
                </div>
            </nav>
        </footer>
        <!-- End footer -->
        {% endblock footer %}
    </div>
</main>
{% endblock content %}
</body>
</html>