{% extends "base.html" %}
{% block main %}
  <div class="row justify-content-center">
    <div class="col-6" align="justify">
        <h1 align="center">onliner.by</h1>
        {% for post in onliner %}
            <ul><a href="{{ post.link }}">{{ post.title }}</a></ul>
        {% endfor %}
    </div>
    <div class="col-6" align="justify">
      <h1 align="center">TUT.by</h1>
        {% for post in tut %}
            <ul><a href="{{ post.link }}">{{ post.title }}</a></ul>
        {% endfor %}
    </div>
  </div>

{% endblock main%}