{% extends "base.html" %}
{% load bootstrap5 %}
{% block main %}
<h1  align="left">Log in to your account.</h1>
<div class="row">
    <div class="col-sm-6" align="left">
        <form method="post" action="{% url 'news:login' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-outline-primary">log in</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{{request.META.HTTP_REFERER}}" />
        </form>
    </div>
</div>
{% endblock main %}