{% extends "base.html" %}
{% load bootstrap5 %}
{% block main %}
<h1 align="left"> Registration form </h1>
<div class="row">
    <div class="col-sm-6" align="left">
        <form method="post" action="{% url 'news:register' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-outline-primary">
                    Sign up
                </button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'news:index' %}" />
        </form>
    </div>
</div>
{% endblock main %}